<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}">Título da página</title>
  </head>
  <body>
    <h1 th:text="${header}">Cabeçalho da página</h1>
    <ul>
      <li th:each="item : ${itens}" th:text="${item}"></li>
    </ul>

    <div th:if="${condicao}">
      Esse conteúdo só será exibido se a condição for verdadeira.
    </div>

    <div th:unless="${condicao}">
      Esse conteúdo só será exibido se a condição for falsa.
    </div>

    <ul>
      <li th:each="item : ${listaDeItens}" th:text="${item}">Item padrão</li>
    </ul>

    <a th:href="@{/caminho/para/pagina}">
      Esse link leva para outra página.
    </a>

    <img th:src="@{/caminho/para/imagem.jpg}" />

    <div th:attr="data-valor=${valor}">Esse atributo foi definido dinamicamente.</div>

  </body>
</html>
